[project]
	description = LocateInside ? Like Unix ?locate?, but searches inside files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jevgenija (jpantiuchina)
[access "refs/for/refs/*"]
	read = group user/jevgenija (jpantiuchina)
	push = group user/jevgenija (jpantiuchina)
	label-Code-Review = -2..+2 group user/jevgenija (jpantiuchina)
	label-Verified = -1..+1 group user/jevgenija (jpantiuchina)
	rebase = group user/jevgenija (jpantiuchina)
	removeReviewer = group user/jevgenija (jpantiuchina)
	submit = group user/jevgenija (jpantiuchina)
[access "refs/heads/*"]
	read = group user/jevgenija (jpantiuchina)
	create = group user/jevgenija (jpantiuchina)
	push = +force group user/jevgenija (jpantiuchina)
	pushMerge = group user/jevgenija (jpantiuchina)
[access "refs/tags/*"]
	push = group user/jevgenija (jpantiuchina)
	push = +force group user/jevgenija (jpantiuchina)
